.motion-div {
  .list {
    padding: 4px;
    .paper {
      .list-item {
        borderLeft: deepPink 8px solid;
        font-family: "Fira Code Medium";
        .list-details {
          display: flex;
          flex-grow: 1;
          flex-direction: row;
          align-items: center;
          justify-content: space-between;
          .list-info {
            display: flex;
            flex-direction: column;
            margin-right: 8px;
            .name {
              color: cornflowerblue;
              font-weight: 600;
            }
            .description {
              color: deeppink;
            }
          }
          .time {
            display: flex;
            margin-right: 8px;
          }
          .list-item-icon {
            background: darkorchid;
          }
        }
      }
    }
  }
}